[Unit]
Description=XBTerminal GUI Service
After=syslog.target network.target
Wants=bluetooth.service ntpd.service salt-minion.service
Requires=xbterminal-x.service

[Service]
Type=simple
ExecStart=/srv/xbterminal/xbterminal/main_gui
Nice=-5

Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
