[Unit]
Description=XBTerminal Device Initialization Service
After=syslog.target network-online.target
Wants=network-online.target
Before=xbterminal-firmware.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xbt-init

[Install]
WantedBy=multi-user.target
